  .about {
    margin-top: 101px;
    width: 100%;
    background-image: url("../../images/about__background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
      @include df-row-start-center;
      padding-top: 72px;
      padding-bottom: 72px;
    }

    &__title {
      font-family: 'Space Mono';
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;

    }
  }

  @media (max-width: 1024px) {
    .about {
      margin-top: 101px;
      width: 100%;
      background-image: url("../../images/about__tb-background.jpg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;

      &__container {
        @include df-row-start-center;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 72px;
        padding-bottom: 72px;
      }

      &__title {
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: $white;

      }
    }
  }

  @media (max-width: 767px) {
    .about {
      margin-top: 68px;
      width: 100%;
      background-image: url("../../images/about__mb-background.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &__container {
        @include df-row-center-center;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      &__title {
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.79px;
        color: $white;

      }
    }
  }