@mixin template__button{
    padding: 14px 39px;
    @include df-row-center-center;
    background-color: $yellow;
      font-family: 'Space Mono';
      font-size: 15px;
      font-weight: bold;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      transition: 400ms ease all;
      border: 2px solid $yellow;
      cursor: pointer;
      &:active{
            border: 2px solid $yellow;
            background-color: inherit;
            color: $yellow;
      }
}