.hero {
    width: 100%;
    background-image: url("../../images/hero_background-image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        bottom: 315px;
        left: -50px;
        width: 203px;
        height: 15px;
        background-image: url("../../icons/hero__path.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        bottom: 179px;
        right: 300px;
        width: 452px;
        height: 151px;
        background-image: url("../../icons/hero__vector.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    &__container {
        @include df-column-center-start;
        position: relative;

        &::after {
            position: absolute;
            display: inline-block;
            content: "";
            top: 400px;
            right: 0;
            width: 234px;
            height: 62px;
            background-image: url("../../icons/hero__triple-circle.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__left-box {
        width: 477px;
        @include df-column-center-start;
        gap: 40px;
    }

    &__title {
        text-align: start;
        width: 477px;
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: $white;
    }

    &__mini-box {
        @include df-column-center-start;
        gap: 32px;
        margin-left: auto;
    }

    &__text {
        text-align: start;
        width: 400px;
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        color: $white;
    }

    &__button {
        @include template__button;
    }
}

@media (max-width:1330px) {
    .hero {
        width: 100%;
        background-image: url("../../images/hero_background-image.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 153px;
        padding-bottom: 152px;
        position: relative;

        &::after {
            position: absolute;
            display: inline-block;
            content: "";
            bottom: 315px;
            left: -450px;
            width: 203px;
            height: 15px;
            background-image: url("../../icons/hero__path.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        &::before {
            position: absolute;
            display: none;
            content: "";
            bottom: 179px;
            right: 500px;
            width: 452px;
            height: 151px;
            background-image: url("../../icons/hero__vector.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 2;
        }

        &__container {
            @include df-column-center-start;
            position: relative;

            &::after {
                position: absolute;
                display: inline-block;
                content: "";
                top: 400px;
                right: 0;
                width: 234px;
                height: 62px;
                background-image: url("../../icons/hero__triple-circle.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &__left-box {
            width: 477px;
            @include df-column-center-start;
            gap: 40px;
        }

        &__title {
            text-align: start;
            width: 477px;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -2.5px;
            color: $white;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 32px;
            margin-left: auto;
        }

        &__text {
            text-align: start;
            width: 400px;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $white;
        }

        &__button {
            @include template__button;
        }
    }
}

@media (max-width: 1024px) {
    .hero {
        width: 100%;
        background-image: url("../../images/hero_background-tb-image.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 137px;
        padding-bottom: 217px;
        position: relative;

        &::after {
            position: absolute;
            display: none;
            content: "";
            bottom: 315px;
            left: -100px;
            width: 203px;
            height: 15px;
            background-image: url("../../icons/hero__path.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            bottom: 39px;
            left: 0;
            width: 325px;
            height: 151px;
            background-image: url("../../icons/hero__tb-vector.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        &__container {
            padding-left: 40px;
            padding-right: 40px;
            @include df-column-center-center;
            position: relative;

            &::after {
                position: absolute;
                display: none;
                content: "";
                top: 400px;
                right: 0;
                width: 234px;
                height: 62px;
                background-image: url("../../icons/hero__triple-circle.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &__left-box {
            width: auto;
            @include df-column-center-center;
            gap: 24px;
        }

        &__title {
            text-align: center;
            width: 573px;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -2.5px;
            color: $white;
        }

        &__mini-box {
            @include df-column-center-center;
            gap: 32px;
        }

        &__text {
            text-align: center;
            width: 573px;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $white;
        }

        &__button {
            @include template__button;
        }
    }



}

@media (max-width: 767px) {
    .hero {
        width: 100%;
        background-image: url("../../images/hero_background-mb-image.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 115px;
        padding-bottom: 179px;
        position: relative;

        &::after {
            position: absolute;
            display: none;
            content: "";
            bottom: 315px;
            left: -50;
            width: 203px;
            height: 15px;
            background-image: url("../../icons/hero__path.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            bottom: 34.56px;
            left: 0;
            width: 140px;
            height: 151px;
            background-image: url("../../icons/hero__mb-vector.svg");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        &__container {
            padding-left: 32px;
            padding-right: 32px;
            @include df-column-center-center;
            position: relative;

            &::after {
                position: absolute;
                display: none;
                content: "";
                top: 400px;
                right: 0;
                width: 234px;
                height: 62px;
                background-image: url("../../icons/hero__triple-circle.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &__left-box {
            width: auto;
            @include df-column-center-center;
            gap: 24px;
        }

        &__title {
            text-align: center;
            width: 311px;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -1.79px;
            color: $white;
        }

        &__mini-box {
            @include df-column-center-center;
            gap: 34px;
        }

        &__text {
            text-align: center;
            width: 100%;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $white;
        }

        &__button {
            @include template__button;
        }
    }
}