 .sign {
        margin-top: 200px;
        background-color: $dark__novy;
        position: relative;
        z-index: 2;
        &::after {
            z-index: -1;
            position: absolute;
            content: "";
            display: inline-block;
            width:998px;
            height: 158px;
            right: 0;
            bottom: 0;
            background-image: url("../../icons/triple__circles.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__container {
            padding-top: 102px;
            padding-bottom: 102px;
            @include df-row-between-center;
        }

        &__title {
            text-align: start;
            width:  415px;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            color: $white;
        }

        &__right-box {
            @include df-row-center-center;
            gap: 18px;
        }

        &__icon-link {
            transition: 200ms ease all;

            &:active {
                transition: 200ms ease all;
                opacity: 0.5;
            }
        }

        &__icon-image {
            width: 182px;
            height: 56px;
        }
    }
@media(max-width:1024px) {
    .sign {
        margin-top: 104px;
        background-color: $dark__novy;
        position: relative;
        z-index: 2;
        &::after {
            z-index: -1;
            position: absolute;
            content: "";
            display: inline-block;
            width:100%;
            height: 158px;
            bottom: 0;
            background-image: url("../../icons/triple__tb-circles.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__container {
            padding-top: 62px;
            padding-bottom: 62px;
            @include df-column-center-center;
            padding-right: 40px;
            padding-bottom: 40px;
            gap: 40px;
        }

        &__title {
            width:  457px;
            text-align: center;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            color: $white;
        }

        &__right-box {
            @include df-row-center-center;
            gap: 12.86px;
        }

        &__icon-link {
            transition: 200ms ease all;

            &:active {
                transition: 200ms ease all;
                opacity: 0.5;
            }
        }

        &__icon-image {
            width: 130px;
            height: 40px;
        }
    }
}
@media(max-width:767px) {
    .sign {
        margin-top: 120px;
        background-color: $dark__novy;
        position: relative;
        z-index: 2;
        &::after {
            z-index: -1;
            position: absolute;
            content: "";
            display: inline-block;
            width:100%;
            height: 181px;
            bottom: 0;
            background-image: url("../../icons/double__mb-circles.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__container {
            padding-top: 88px;
            padding-bottom: 88px;
            @include df-column-center-center;
            padding-right: 32px;
            padding-bottom: 32px;
            gap: 40px;
        }

        &__title {
            width: 311px;
            text-align: center;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            color: $white;
        }

        &__right-box {
            @include df-row-center-center;
            gap: 12.86px;
        }

        &__icon-link {
            transition: 200ms ease all;

            &:active {
                transition: 200ms ease all;
                opacity: 0.5;
            }
        }

        &__icon-image {
            width: 130px;
            height: 40px;
        }
    }
}