 .step {
       padding-top: 160px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: inline-block;
            content: "";
            top: 205px;
            left: 0px;
            width: 973px;
            height: 15px;
            background-image: url("../../icons/step__path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            @include df-row-between-start;
            gap: 0px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-column-center-start;
            gap:40px;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 300px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
}
@media(max-width: 1100px){
   .step {
       padding-top: 160px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: none;
            content: "";
            top: 205px;
            left: -50px;
            width: 973px;
            height: 15px;
            background-image: url("../../icons/step__path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
               @include df-column-center-center;
               gap: 50px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-row-evenly-start;
            gap:0;
        }

        &__mini-box {
          @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 300px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
}  
}
@media (max-width: 1024px) {
    .step {
       padding-top: 122px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: inline-block;
            content: "";
            top: 0;
            left: 145px;
            width: 15px;
            height: 512px;
            background-image: url("../../icons/step__tb-path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            padding-left: 40px;
            padding-right: 40px;
            @include df-column-center-center;
            gap: 50px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-row-evenly-start;
            gap:0;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 398px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
    }
}
@media (max-width: 912px) {
    .step {
       padding-top: 122px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: inline-block;
            content: "";
            top: 0;
            left: 190px;
            width: 15px;
            height: 512px;
            background-image: url("../../icons/step__tb-path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            padding-left: 40px;
            padding-right: 40px;
            @include df-column-center-center;
            gap: 50px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-row-evenly-start;
            gap:0;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 398px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
    }
}
@media (max-width: 820px) {
    .step {
       padding-top: 122px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: inline-block;
            content: "";
            top: 0;
            left: 162.5px;
            width: 15px;
            height: 512px;
            background-image: url("../../icons/step__tb-path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            padding-left: 40px;
            padding-right: 40px;
            @include df-column-center-center;
            gap: 50px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-row-evenly-start;
            gap:0;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 398px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
    }
}
@media (max-width: 768px) {
    .step {
       padding-top: 122px;
        position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: inline-block;
            content: "";
            top: 0;
            left: 145px;
            width: 15px;
            height: 512px;
            background-image: url("../../icons/step__tb-path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            padding-left: 40px;
            padding-right: 40px;
            @include df-column-center-center;
            gap: 50px;
        }

        &__icons {
            width: 96px;
            height: 96px;
        }

        &__boxes {
            width: 100%;
            @include  df-row-evenly-start;
            gap:0;
        }

        &__mini-box {
            @include df-column-center-start;
            gap: 27px;
        }

        &__titles {
            text-align: start;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__novy;
        }

        &__texts {
            width: 398px;
            text-align: start;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
    }
}
@media (max-width: 767px) {
    .step {
        padding-top: 120px;
           position: relative;
        z-index: 2;
        &::after{
            z-index: -1;
            position: absolute;
            display: none;
            content: "";
            top: 0;
            left: 145px;
            width: 15px;
            height: 512px;
            background-image: url("../../icons/step__tb-path.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            padding-left: 32px;
            padding-right: 32px;
            @include df-column-center-center;
            gap: 48px;
        }

        &__images {
            width: 56px;
            height: 56px;
        }

        &__boxes {
            @include df-column-center-center;
            gap: 24px;
        }

        &__mini-box {
            @include df-column-center-center;
            gap: 24px;
        }

        &__titles {
            text-align: center;
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.89px;
            color: $dark__novy;
        }

        &__texts {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            font-family: 'Lexend Deca';
            color: $dim__grey;
        }
    }
}