 .urban {
     margin-top: 120px;
     position: relative;
     z-index: 2;

     &::after {
         position: absolute;
         content: "";
         display: inline-block;
         width: 355px;
         height: 151px;
         left: 0;
         top: 0px;
         background-image: url("../../icons/urban__vector.svg");
         background-repeat: no-repeat;
         background-size: cover;
     }

     &::before {
         z-index: -1;
         position: absolute;
         content: "";
         display: inline-block;
         width: 95px;
         height: 445px;
         right: 0;
         top: 0;
         background-image: url("../../icons/easy__mask.svg");
         background-repeat: no-repeat;
         background-size: cover;
         transform: rotate(180deg);
     }

     &__container {
         @include df-row-between-center;

     }

     &__left-box {
         @include df-column-center-start;
         gap: 24px;
     }

     &__title {
         width: 445px;
         font-family: 'Space Mono';
         color: $dark__novy ;
         font-size: 48px;
         line-height: 48px;
         letter-spacing: -2.14px;
         font-weight: bold;
         text-align: start;
     }

     &__text {
         text-align: start;
         width: 445px;
         font-family: 'Lexend Deca';
         font-weight: 400;
         color: $dim__grey;
         font-size: 15px;
         line-height: 25px;
         letter-spacing: 0;
     }

     &__image {
         width: 445px;
         height: 445px;
         border-radius: 50%;
     }
 }
 @media(max-width:1100px) {
     .urban {
         margin-top: 144px;
         position: relative;
         z-index: 2;

         &::after {
             position: absolute;
             content: "";
             display: inline-block;
             width: 735px;
             height: 151px;
             right: 0;
             top: 265px;
             background-image: url("../../icons/urban__tb-vector.svg");
             background-repeat: no-repeat;
             background-size: cover;
         }


         &::before {
             z-index: -1;
             position: absolute;
             content: "";
             display: inline-block;
             width: 95px;
             height: 445px;
             right: 0;
             top: 0;
             background-image: url("../../icons/easy__mask.svg");
             background-repeat: no-repeat;
             background-size: cover;
             transform: rotate(180deg);
         }

         &__container {
             @include df-column-reverse-center-center;
             gap: 56px;

         }

         &__left-box {
             @include df-column-center-center;
             gap: 40px;
         }

         &__title {
             width: 457px;
             font-family: 'Space Mono';
             color: $dark__novy ;
             font-size: 48px;
             line-height: 48px;
             letter-spacing: -2.14px;
             font-weight: bold;
             text-align: center;
         }

         &__text {
             text-align: center;
             width: 573px;
             font-family: 'Lexend Deca';
             font-weight: 400;
             color: $dim__grey;
             font-size: 15px;
             line-height: 25px;
             letter-spacing: 0;
         }

         &__image {
             width: 445px;
             height: 445px;
             border-radius: 50%;
         }
     }

 }
 @media(max-width:1024px) {
     .urban {
         margin-top: 120px;
         position: relative;
         z-index: 2;

         &::after {
             position: absolute;
             content: "";
             display: inline-block;
             width: 735px;
             height: 151px;
             right: 0;
             top: 0px;
             background-image: url("../../icons/urban__tb-vector.svg");
             background-repeat: no-repeat;
             background-size: cover;
         }

         &::before {
             z-index: -1;
             position: absolute;
             content: "";
             display: inline-block;
             width: 95px;
             height: 445px;
             right: 0;
             top: 0;
             background-image: url("../../icons/easy__mask.svg");
             background-repeat: no-repeat;
             background-size: cover;
             transform: rotate(180deg);
         }

         &__container {
             padding-left: 40px;
             padding-right: 40px;
             @include df-column-center-center;
             gap: 56px;

         }

         &__right-box {
             @include df-column-center-center;
             gap: 40px;
         }

         &__title {
             width: 457px;
             font-family: 'Space Mono';
             color: $dark__novy ;
             font-size: 48px;
             line-height: 48px;
             letter-spacing: -2.14px;
             font-weight: bold;
             text-align: center;
         }

         &__text {
             text-align: center;
             width: 573px;
             font-family: 'Lexend Deca';
             font-weight: 400;
             color: $dim__grey;
             font-size: 15px;
             line-height: 25px;
             letter-spacing: 0;
         }


         &__image {
             width: 445px;
             height: 445px;
             border-radius: 50%;
         }
     }
 }
 @media(max-width:767px) {
     .urban {
         margin-top: 120px;
         position: relative;

         &::after {
             position: absolute;
             content: "";
             display: inline-block;
             width: 349px;
             height: 151px;
             left: 0;
             top: 0px;
             background-image: url("../../icons/urban__mb-vector.svg");
             background-repeat: no-repeat;
             background-size: cover;
         }

         &::before {
             z-index: -1;
             position: absolute;
             content: "";
             display: inline-block;
             width: 95px;
             height: 445px;
             right: 0;
             top: 0;
             background-image: url("../../icons/easy__mask.svg");
             background-repeat: no-repeat;
             background-size: cover;
             transform: rotate(180deg);
         }

         &__container {
             padding-left: 32px;
             padding-right: 32px;
             @include df-column-center-center;
             gap: 56px;

         }

         &__right-box {
             @include df-column-center-center;
             gap: 32px;
         }

         &__title {
             width: 311px;
             font-family: 'Space Mono';
             color: $dark__novy ;
             font-size: 32px;
             line-height: 32px;
             letter-spacing: -1.43px;
             font-weight: bold;
             text-align: center;
         }

         &__text {
             text-align: center;
             width: 100%;
             font-family: 'Lexend Deca';
             font-weight: 400;
             color: $dim__grey;
             font-size: 15px;
             line-height: 25px;
             letter-spacing: 0;

         }



         &__image {
             width: 311px;
             height: 311px;
             border-radius: 50%;
         }
     }
 }