$white: #ffffff;
$black: #000000;
$yellow: #FCB72B;
$dark__novy: #495567;
$second__dark__novvy: #333A44;
$dim__grey: #495567;
$nearly__grey: #f2f5f9;
$light__grey: #E5ECF4;
$snow: #F2F5F9;
$light__yellow: #FFF4DF;